* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    color: #444444;
    font-family: sans-serif;
    overflow: hidden;
}
body {
    width: 70%;
    margin: 0 auto;
    background-color: lightsteelblue;
}
main {
    background-color: aliceblue;
}
.main-header {
    height: 10%;
    width: 100%;
    background-color: blue;
}
#logo {
    display: inline-block;
    height: 100%;
    width: 20%;
    text-align: center;
    font-size: 7vh;
    padding: 1vh;
    color: #ff4500;
    text-shadow: 0.4vh 0vh 0.3vh #444444;
    background: #6b6d79;
}
.title {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    font-size: 7vh;
    color: lightyellow;
}
.main {
  height: 80%;
}
#htmlAcademyLogo {
  background: linear-gradient(to right, #000000, #000000 50%, lightcyan);
}
#freeCodeCampLogo {
  background: linear-gradient(to right, #006401, #006401 50%, lightcyan);
}
.linkListLogo {
  height: 60px;
  padding: 0;
}
.linkListLogo a {
  margin-top: 5px;
  display: inline-block;
}
.linkListLogoImg {
    height: 50px;
}
.linkListLogoText {
  display: inline-block;
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
  line-height: 50px;
  vertical-align: top;
  font-size: 20px;
  color: lightyellow;
}
.linkList {
    font-size: 20px;
}
.linkListItem {
    padding: 5px;
}
.linkListItem a {
    font-size: 18px;
}
.main-footer {
    height: 10%;
    background-color: blue;
    text-align: center;
}
address, address a {
    padding: 5px;
    font-size: 16px;
    color: lightgoldenrodyellow;
}